body {
    background-color: #efefef;
}

.box {
    background-color: white;
    padding: 15px 15px;
    margin: 15px 0;
    width: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.one {
    border-left: solid 2px red;   
}

.one:hover {
    transform: scale(1.05, 1.05);
}

.two {
    border-left: solid 2px green;
    transition: 0.3s;
}

.two:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.three {
    border-left: solid 2px blue;
}

.three:hover {
    background-color: rgba(0, 0, 0, 0.01);
}